html{
  font-family: monospace;
  background-color: #b8a7aa;
}

.socials{
margin: 5px;}

.hobby-box{
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
  grid-gap: 40px;
  padding: 10px;
  text-align: center;
}

.hobby-box img{
width:80px;  
height: auto;
  padding: 10px;
  display: block;
  margin: auto;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.stand-cat {
  margin-top: 10px;
  width: 150px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 4cap;
}

/* .title-line {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 50px;
  color: #ebe6ea;
} */

.title-line{
  font-size: 40px;
  justify-content: center;
  align-items: center;
  color: #ebe6ea;
  text-align: center;
  position: relative;
  display: block;
  /* top: 50%;   */
  width: 24em;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 30px;
  border-bottom: 2px solid #48373d;
  border-right: 1.5px solid #ebe6ea;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
animation: typewriter 2s steps(40) 1s 1 normal both,
           blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 10em;}
}
@keyframes blinkTextCursor{
from{border-right-color: #ebe6ea;}
to{border-right-color: transparent;}
}

.subtext{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 500;
  display: block;
  color: #48373d;
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 8px;
  background-color: #48373d;
}

.nav-links {
  right: 0;
  width: 100%;
  display: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: black;
  display: block;
  text-align: center;
  padding: 10px 0;
  /* background-color: #ab989e; */
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.home-button {
  border-radius: 10%;
  /* margin: 5px; */
}

.resume-button {
  border-radius: 10%;
  /* margin: 5px; */
}

.nav-links a:hover, a:focus {
  background-color: #ffffff;
}

.expanded {
  display: unset;
}

footer{
bottom: 0;
position: fixed;

}
@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 8px 10px;
  }

  .hamburger {
    display: none;
  }
}