---
import Header from "../components/Header.astro";
import '../styles/global.css';

---

<body>
	<Header />
    <h1>Resume</h1>

  
    <p>Resume will go here</p>
    <script>
        import  "../scripts/menu.js";
      </script>
  </body>