---

---

<!-- <h1>My Hobbies: </h1> -->
<div class="hobby-box">
    <div class="hobby-4">
        <a href="https://www.pinterest.com/blakemartinez32/" target="_blank" title="my pinterest"><img src="../pinterest.svg"  alt="pinterest"></a>
        <p>my pinterest</p>
    </div>
<div class="hobby-1">
    <a href="https://blakemartinez.github.io/readME/" target="_blank" title="my reading list"><img src="../book.png"  alt="book"></a>
    <p>reading list</p>
</div>
<div class="hobby-2">
<img src="../keybaord.png"  alt="keybaord">
<p>mechanical keyboards</p>
</div>
<div class="hobby-3">
<a href="https://www.discogs.com/user/endingparty/collection?page=1&sort=title%2Casc&folder=0&limit=25" title="my discogs" target="_blank"><img src="../vinyl-record.svg"  alt="vinyl"></a>
<p>record collection</p>
</div>
</div>


