---
---
<div class="nav-links">
    <a class="home-button" href="/"><img src="../home.png" alt="home" width="30px" style="margin: 0;"></a>
    <a class="resume-button" href="/posts/resume">Resume</a>
  </div>