---
import Github from "./Github.astro";
import LinkedIn from "./LinkedIn.astro";

---


<p>
    <div class="socials">
    <Github/>
    <LinkedIn/>
    <a href="mailto:blake.martinez32@yahoo.com"><img src="../mail.jpeg" alt="Mail Icon" width="30px" style="padding: 10px;"></a>
</div>
</p>

